html {
    scroll-behavior: smooth; 
}
body {
    background: #090C2F;
    color: aliceblue;
    font-family: 'Sofia Sans';
    font-size: 3vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 9vw;
    height: 10vh;
}
.name {
    padding-right: 1vw;
    font-size: 5vh;
}
.button_text {
    opacity: 0;
    transition:0.5s;
}
a {
    outline: none;
    text-decoration: none;
    color: aliceblue;
}
.red {
    background: #c90404;
    border-radius: 100px; 
    height: 5vh;
    width: 15vw;
    font-size: 4vh;
    text-align: center;
    transition:0.5s;
}
.yellow {
   
    background: #fcbb01;
    border-radius: 100px; 
    height: 5vh;
    width: 15vw;
    font-size: 4vh;
    text-align: center;
    transition:0.5s;
}
.blue {
  
    background: #01d9d1;
    border-radius: 100px; /* Уголки */
    text-align: center;
    height: 5vh;
    width: 15vw;
    font-size: 4vh;
    transition:0.5s;
}
.red:hover{
    background-color: #676ed1; 
    padding: 18px 0px;
    transition:0.5s;
  }
.red:hover .button_text {
    transition:0.5s;
    opacity: 1;
}
.blue:hover{
    background-color: #676ed1; 
    padding: 18px 0px;
    transition:0.5s;
  }
.blue:hover .button_text {
    transition:0.5s;
    opacity: 1;
}
.yellow:hover{
    background-color: #676ed1; 
    padding: 18px 0px;
    transition:0.5s;
  }
.yellow:hover .button_text {
    transition:0.5s;
    opacity: 1;
}
.buttons {
    column-gap: 5vw;
    display: flex;
    padding: auto;
}
hr {
    width: 85%;
}
footer {
    width: 100%;
    text-align:center;
    font-size: 2vh;
    height: 3vh;
    height: auto;
}

.Text{

    background: rgba(156, 143, 143,0.1); /* Цвет фона */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    padding: 10px;
    text-align: center;
    padding: 10px;
    border-radius: 100px; 
}

#particles-js {
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #090C2F;
  }
  .inside_red {
    background: #c90404;
    border-radius: 100px; 
    height: 6vh;
    width: 30vw;
    display: table-cell;
    vertical-align: middle;
    font-size: 3vh;
    text-align: center;
    transition:0.5s;
}
.inside_yellow {
    background: #fcbb01;
    border-radius: 100px; 
    height: 6vh;
    width: 30vw;
    display: table-cell;
    vertical-align: middle;
    font-size: 3vh;
    text-align: center;
    transition:0.5s;
}
.inside_blue {
    background: #01d9d1;
    border-radius: 100px; /* Уголки */
    display: table-cell;
    vertical-align: middle;
    height: 6vh;
    width: 30vw;
    text-align: center;
    font-size: 3vh;
    transition:0.5s;
}
.hidden{
    display:none;
}
  @media screen and (max-width: 950px) {
    .name{
        display: none;
    }
    .hidden{
        display: unset;
    }
    .nothiden{
        display: none;
    }
    header {
    column-gap: 3vw;
    }

}
